{% extends 'base.html' %}


{% block title  %}
<h1>
  <p class="text-danger">
    My Twitter App에 오신 것을 환영합니다.
  </p>
</h1>
{% endblock  %}


{% block main_body  %}
<div class="row-cols-1" style="height: 60px;">
  <h2>| Information</h2>
</div>

<div class="row row-cols-1 row-cols-md-4">
    <div class="col mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">All users</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">User</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Update</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.<br></p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Compare</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock  %}