{% extends 'base.html' %}


{% block title  %}
<h1>
  <p class="text-danger">
      | 이용자 조회
  </p>
</h1>
{% endblock  %}


{% block main_body  %}
You can see all users.<br>
{% if data %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User Name</th>
        <th scope="col">Full Name</th>
        <th scope="col">followers</th>
        <th scope="col">location</th>
        <th scope="col"></th>
      </tr>
    </thead>
    {% for user in data %}
    <tbody>
      <form method="POST" action="/{{ user.username }}/delete"></form>
      <tr>
        <th scope="row">{{ user.id }}</th>
        <td>{{ user.username }}</td>
        <td>{{ user.full_name }}</td>
        <td>{{ user.followers }}</td>
        <td>{{ user.location }}</td>
        <td><input class="form-check-input" type="checkbox" id="deleteChk" name="delUsername"></td>
      </tr>      
    </form>
    </tbody>
    {% endfor %}
  </table>

{% endif %}
{% endblock  %}